<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoneyFleek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAD14E0A1FDEDC7200149247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD14E1E1FDEDC7300149247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD14E291FDEDC7300149247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
